<ion-header>
  <ion-toolbar>
    <ion-button class="button-input-back" (click)="goBack()"><ion-icon src="./../../assets/icon/close.svg" name="cancel" class="arrow-size"></ion-icon></ion-button>
    <h4 class="title">
        Edit Profile
    </h4>
    <ion-button align-items-end class="button-input-save" (click)="saveUser()"><ion-icon src="./../../assets/icon/check.svg" name="save" class="arrow-size"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div padding>
        <ion-avatar class="image-holder">
            <ion-img class="icon-holder" src="./../../assets/imgs/icon.jpg"></ion-img>
        </ion-avatar>
            <h4>{{uname}}</h4>
    </div>
<ion-list>
    <ion-item>

        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" #username>{{uname}}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="number" #number>{{numb}}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Contact Person</ion-label>
        <ion-input type="text" #cpusername>{{cpuname}}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Contact Person Phone Number</ion-label>
        <ion-input type="number" #cpnumber>{{cpnumb}}</ion-input>
    </ion-item>
</ion-list>
<!-- <ion-button class="button-input" (click)="getData()">Create Account</ion-button> -->

</ion-content>
