<!-- Edit User Page -->
<ion-header>
  <ion-toolbar>
    <ion-button class="button-input-back" (click)="goBack()"><ion-icon src="./../../assets/icon/close.svg" name="cancel" class="arrow-size"></ion-icon></ion-button>
    <h4 class="title">
        Edit Profile
    </h4>
    <ion-button align-items-end class="button-input-save" (click)="saveUser()"><ion-icon src="./../../assets/icon/check.svg" name="save" class="arrow-size"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <div class="image-content"padding>
        <ion-avatar class="image-holder">
            <ion-img class="icon-holder" src="./../../assets/imgs/user.jpeg"></ion-img>
        </ion-avatar>
    </div>
    <ion-list>
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text" #username [(ngModel)]="uname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input type="number" #number [(ngModel)]="numb"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Contact Person</ion-label>
            <ion-input type="text" #cpusername [(ngModel)]="cpuname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked" name="Contact Person">Contact Person Phone Number</ion-label>
            <ion-input type="number" #cpnumber [(ngModel)]="cpnumb"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
