@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Raleway');
.title {
    text-align: center;
}
ion-toolbar {
    --background: #f5f6f7;
    opacity: 0.5;
    --color: black;
}
ion-content {
    // --background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    // --background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    // --font-family: 'Raleway', sans-serif;
    font-family: 'Raleway', sans-serif;
    --background: #fff url("./../../assets/imgs/bg-5.jpg") no-repeat center center / cover;
    ion-card {
        top: 18vh;
        .card-bg {
            --background: rgba(255,255,255,0.7);
            font-family: 'Raleway', sans-serif;
            height: 30vh;
            padding-top: 5vh;
            .title-name {
                font-family: 'Major Mono Display', monospace;
                text-align: center;
                font-size: 35px;
                padding: 25px 25px;
                font-weight: bolder;
                --color: white;
                text-shadow: 2px 2px 4px #000;
            }
            .subtitle-name {
                font-style: italic;
                padding: 15px;
                text-align: center;
            }
            .lines {
                border-bottom: 1px solid gray;
                width: 35vh;
                display: block;
                margin: auto;
            }
        }
        .item-bg {
            --background: rgba(0, 83, 124, 0.8);
            ion-button {
                --background: transparent;
                --box-shadow: none;
                --color: white;
            }
            .ring-button {
                display: block;
                margin: auto;
            }
        }
        .item-bg-1 {
            --background: rgba(0, 59, 102, 0.8);
            ion-button {
                --background: transparent;
                --box-shadow: none;
                --color: white;
            }
            .userpage-button {
                display: block;
                margin: auto;
            }
        }
        .item-bg-2 {
            --background: rgba(1, 1, 1, 0.8);
            ion-button {
                --background: transparent;
                --box-shadow: none;
                --color: white;
            }
            .disconnect-button {
                display: block;
                margin: auto;
            }
        }
    }
}
