<!-- Main Page -->
<ion-content padding>
    <!-- buttons here -->
    <ion-card>
        <ion-card-header class="card-bg">
            <ion-card-title class="title-name">home</ion-card-title>
            <p class="lines"></p>
            <ion-card-subtitle class="subtitle-name">An app for the visually impaired</ion-card-subtitle>
        </ion-card-header>
        <ion-item class="item-bg">
            <ion-button class="ring-button"><ion-icon name="alarm"></ion-icon>Ring Wallet</ion-button>
        </ion-item>
        <ion-item class="item-bg-1">
            <ion-button class="userpage-button" (click)="openUser()"><ion-icon name="contact"></ion-icon>User Page</ion-button>
        </ion-item>
        <ion-item class="item-bg-2">
            <ion-button class="disconnect-button" (click)="disconnect()"><ion-icon name="log-out"></ion-icon>Disconnect</ion-button>
        </ion-item>
    </ion-card>
</ion-content>
