<!-- User page html -->
<ion-header>
  <ion-toolbar>
    <ion-button class="button-input-back" (click)="goBack()"><ion-icon src="./../../assets/icon/arrow.svg" name="back" class="arrow-size"></ion-icon></ion-button>
    <ion-button align-items-end class="button-input-edit" (click)="editUser()">Edit</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="image-content" padding>
        <ion-avatar class="image-holder">
            <ion-img class="icon-holder" src="./../../assets/imgs/user.jpeg"></ion-img>
        </ion-avatar>
    </div>
    <ion-list>
        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input disabled type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input disabled type="number" [(ngModel)]="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Contact Person</ion-label>
            <ion-input disabled type="text" [(ngModel)]="cpusername"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Contact Person Phone Number</ion-label>
            <ion-input disabled type="number" [(ngModel)]="cpnumber"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button class="delete-button" (click)="deleteUser()">Delete Account</ion-button>
</ion-content>
