ion-toolbar {
    --background: #f5f6f7;
    --color: black;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #dddfe2;
}
ion-content {
    --background: #e9ebee;
}
.button-input-back {
    --background: transparent;
    margin-left: -20px;
    --color: #40686B;
    &:hover {
        --background: transparent;
    }
}
.arrow-size {
    font-size: 30px;
    --color: #40686B;
}
// #e9ebee #f5f6f7 1px solid #dddfe2
//bradius 2px 2px 0 0
