<ion-header>
  <ion-toolbar>
    <ion-button class="button-input-back" (click)="goBack()"><ion-icon src="./../../assets/icon/arrow.svg" name="back" class="arrow-size"></ion-icon></ion-button>
    <ion-button align-items-end class="button-input-edit" (click)="editUser()">Edit</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div padding>
        <ion-icon name="contact" class="user-icon"></ion-icon>
            <h4>{{username}}</h4>
    </div>
<ion-list>
    <ion-item>
        <ion-label position="fixed">{{username}}</ion-label>
        <!-- <ion-input type="text" #username></ion-input> -->
    </ion-item>
    <ion-item>
        <ion-label position="fixed">{{number}}</ion-label>
        <!-- <ion-input type="number" #number></ion-input> -->
    </ion-item>
    <ion-item>
        <ion-label position="fixed">{{cpusername}}</ion-label>
        <!-- <ion-input type="text" #cpusername></ion-input> -->
    </ion-item>
    <ion-item>
        <ion-label position="fixed">{{cpnumber}}</ion-label>
        <!-- <ion-input type="number" #cpnumber></ion-input> -->
    </ion-item>
</ion-list>
<!-- <ion-button class="button-input" (click)="getData()">Create Account</ion-button> -->

</ion-content>
