<ion-content padding>
    <!-- <ion-button class="button-input" (click)="getAllMac()">Connect to Bluetooth</ion-button> -->
    <ion-card>
        <ion-card-header class="card-bg">
            <ion-card-title class="title-name">EyEWallet</ion-card-title>
            <p class="lines"></p>
            <ion-card-subtitle class="subtitle-name">An app for the visually impaired</ion-card-subtitle>
            <!-- <ion-button (click)="getAllMac()">Connect to Bluetooth</ion-button> -->
        </ion-card-header>
        <ion-item class="item-bg">
            <ion-button (click)="getAllMac()" class="connect-button">
                <ion-icon src="./../../assets/icon/bluetooth.svg" name="bluetooth" class="arrow-size"></ion-icon>Connect to Bluetooth</ion-button>
            <!-- <ion-button (click)="getNotification()" class="connect-button">sound with native</ion-button> -->


        </ion-item>
        <!-- <ion-button (click)="sendTxt()" class="connect-button">send</ion-button> -->
        <!-- <ion-button (click)="getNotif()" class="connect-button">sound notif test</ion-button> -->
    </ion-card>
</ion-content>